{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/custom.css" %}" />
{% endblock %}

{% block extrahead %}
    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
{% endblock %}

{% block title %}{{ title }}{% if site_title %} | {{ site_title }}{% endif %}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <small>{{ site_header }}</small>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}