<li>
    <img src="{{ event.place.image.url }}">
    <div class="calendar-entry">
        <h3>
            {{ event.title }}<br>
            <span>{{ event.subtitle }}</span>
        </h3>
        <address>
            <strong>{{ event.place }}</strong><br>
            {{ event.place.address }}<br>
            {{ event.place.city }}<br>
            <i class="fas fa-map-marker-alt"></i> <a target="_blank" href="{{ event.place.link_to_map }}">Ver no mapa</a>
        </address>
        <p>
            {{ event.details|linebreaksbr }}
        </p>
    </div>
    <div class="calendar-left-entry">
        {% if event.start_date|timesince >= "1 min" %}
            <a href="https://classroom.google.com/" target="_blank" class="view-more-cta"
               title="Ao acessar o link clique no ícone '➕' que fica no canto superior direito da tela e escolha a opção Participar da Turma. Em seguida informe o código que recebeu!"><i class="fas fa-download"></i>Download
                do material</a>
            {% if event.end_date|timesince >= "1 min" %}
                <p><strong>TREINAMENTO ENCERRADO!</strong></p>
            {% endif %}
        {% else %}
            {% if event.open_for_subscriptions %}
                {% if event.external_subscriptions %}
                    <a class="view-more-cta" href="{{ event.external_subscriptions }}" target="_blank"><i class="fas fa-sign-in-alt"></i>Inscreva-se</a>
                {% else %}
                    <a class="view-more-cta" href="{% url 'event-detail' slug=event.slug %}"><i class="fas fa-sign-in-alt"></i>Inscreva-se</a>
                {% endif %}
            {% else %}
                <a class="view-more-cta" disabled="disabled">Inscrições em breve</a>
            {% endif %}
            <br>
            <p><strong>Inscrições Limitadas!</strong></p>
        {% endif %}

    </div>
</li>
