{% load humanize %}

{% if event %}
    <div class="columns">
        <h2>
            {{ event.title }}<br>
            <span>Turma <strong>{{ event.subtitle }}</strong></span>
        </h2>
        <div class="price">
            {% if event.amount > 0 %}
                R$ {{ event.amount|floatformat:2|intcomma }}<br>
            {% else %}
                {% if event.amount_lote1 > 0 %}
                    Lote 1 - R$ {{ event.amount_lote1|floatformat:2|intcomma }} <small style="font-size: small">({{ event.start_date_lote1|date:"d/m/y H:i" }} a {{ event.end_date_lote1|date:"d/m/y H:i" }})</small>
                {% endif %}
                {% if event.amount_lote2 > 0 %}
                    <br>Lote 2 - R$ {{ event.amount_lote2|floatformat:2|intcomma }} <small style="font-size: small">({{ event.start_date_lote2|date:"d/m/y H:i" }} a {{ event.end_date_lote2|date:"d/m/y H:i" }})</small>
                {% endif %}
                {% if event.amount_lote3 > 0 %}
                    <br>Lote 3 - R$ {{ event.amount_lote3|floatformat:2|intcomma }} <small style="font-size: small">({{ event.start_date_lote3|date:"d/m/y H:i" }} a {{ event.end_date_lote3|date:"d/m/y H:i" }})</small>
                {% endif %}
            {% endif %}
            <span>{{ PARCELAMENTO }}</span>
        </div>
    </div>
    <div class="register-header-ft">
        <div>
            <i class="far fa-calendar"></i> {{ event.details|linebreaksbr }}
        </div>
        <span class="city">
            {{ event.place.city }}
        </span>
    </div>
{% else %}
    {% if event_type %}
    <h2>
        {% if event_type == EVENT_TYPES.treinamento_oratoria.value %}
            {{ TREINAMENTO_ORATORIA.titulo }}
        {% elif event_type == EVENT_TYPES.curso_hipnose.value %}
            {{ CURSO_HIPNOSE.titulo }}
        {% elif event_type == EVENT_TYPES.treinamento_inteligencia_emocional.value %}
            {{ TREINAMENTO_INTELIGENCIA_EMOCIONAL.titulo }}
        {% endif %}
    </h2>
    {% elif waitinglist %}
    <h2>
        {% if waitinglist.type == EVENT_TYPES.treinamento_oratoria.value %}
            {{ TREINAMENTO_ORATORIA.titulo }}
        {% elif waitinglist.type == EVENT_TYPES.curso_hipnose.value %}
            {{ CURSO_HIPNOSE.titulo }}
        {% elif waitinglist.type == EVENT_TYPES.treinamento_inteligencia_emocional.value %}
            {{ TREINAMENTO_INTELIGENCIA_EMOCIONAL.titulo }}
        {% endif %}
    </h2>
    {% endif %}
{% endif %}
