{% extends 'base_details.html' %}

{% block details_header_class %}
    header-atendimento-hipnoterapia
{% endblock %}

{% block details_frase %}
    Abra a sua mente e ouça a<br>
    voz do seu inconsciente!
{% endblock %}

{% block details_citacao %}
    "Deseje que aconteça,<br>
    espere que aconteça,<br>
    e acima de tudo, deixe que aconteça."
{% endblock %}

{% block details_citacao_autor %}
    Dave Elman
{% endblock %}

{% block actions %}
    <a href="{% url 'solicitar_atendimento_hipnoterapia' %}" class="cta">Solicitar atendimento</a>
{% endblock %}

{% block details_titulo %}
    {{ ATENDIMENTO_HIPNOTERAPIA.titulo }}
{% endblock %}


{#Sobre#}
{% block details_sobre %}
    Sobre o atendimento
{% endblock %}

{% block details_sobre_p %}
    <p>
        A hipnoterapia consiste na aplicação de técnicas hipnóticas como ferramenta terapêutica. A terapia é utilizada como auxílio para o tratamento de transtornos emocionais, físicos, psicológicos, hábitos e sentimentos indesejáveis.<br>
        Muitos problemas vivenciados são causados por eventos do passado dos quais muitas vezes nem lembramos. O papel do hipnoterapeuta é identificar esses eventos causadores e ajudar o cliente a confrontá-los, para que o transtorno possa ser tratado com eficácia e o indivíduo possa ter sua qualidade de vida de volta.<br>
        Normalmente, os resultados alcançados com a hipnoterapia são mais efetivos e rápidos que com outros métodos convencionais. Isso ocorre porque a hipnose clínica alcança a mente subconsciente do indivíduo e trata o transtorno direto em sua origem.
    </p>
{% endblock %}


{#Objetivos#}
{% block details_objetivos_p %}
    <p>
        Encontrar soluções para os problemas que carrega a muito tempo;<br>
        Livrar de velhas crenças limitantes;<br>
        Transformar pensamentos negativos em positivos;<br>
        Desenvolver hábitos mais saudáveis;<br>
        Estabelecer metas realistas;<br>
        Assumir o controle ativo de sua saúde, sua carreira, seus relacionamentos e sua vida em geral (mental e emocional);<br>
        Melhorar o bem-estar físico;<br>
        Melhorar o desenvolvimento espiritual;<br>
        Potencializar a criatividade e motivação;<br>
        Tratar vícios, obsessões, compulsões, raiva, depressão, distúrbios alimentares, ansiedade, medos, fobias, questões sexuais, gagueira, síndrome do pânico, problemas relacionado ao sono, TOC, traumas, perda de peso, redução do estresse etc;<br>
        Aumentar auto-estima e confiança;<br>
        Propiciar um estado pleno de relaxamento.
    </p>
{% endblock %}


{#Duração#}
{% block details_duracao %}
    O processo de hipnoterapia acontece em sessões (semanais, quinzenais ou mensais), porém o ideial é que as sessões sejam realizadas uma vez por semana com duração de cerca de 1 hora dependendo das técnicas utilizadas.
{% endblock %}


{#Para quem?#}
{% block details_para_quem %}
    Público em geral comprometidos com os seus resultados, ou seja, dispostos a mudanças, a expandir sua mente, a curar traumas, fobias e a direcionar sua energia, foco, empenho e dedicação em prol de seu potencial interno.
{% endblock %}


{% block program_content %}
{% endblock %}

{% block benefits_class %}{% endblock %}

{% block benefits_li %}
    <li>
        <p>
            - Tomar melhores decisões;<br>
            - Obter o aumento da sua concentração;<br>
            - Libertar a sua imaginação e criatividade;<br>
            - A se sentir mais relaxado e mais em paz consigo mesmo;<br>
            - A se livrar do stress. Fazendo com que você se sinta saudável mentalmente e fisicamente;<br>
            - A aumentar a sua autoconfiança;<br>
            - A dormir melhor e ter mais energia quando você precisar dela;<br>
            - A encontrar a estabilidade que vai te permitir viver verdadeiramente a sua vida, ao invés de apenas passar por ela;<br>
            - Aumento da realização e da satisfação pessoal e profissional;<br>
            - Aumento do equilíbrio e da harmonia interior;<br>
            - Melhoria na qualidade de vida;<br>
            - Melhor gestão do tempo;<br>
            - Equilíbrio entre as áreas pessoal, profissional, social e familiar;<br>
            - Aumento de disposição, energia e saúde;<br>
            - Elevação das habilidades necessárias para resolução de conflitos, dúvidas e problemas;<br>
            - Aumento da autopercepção e do conhecimento de si mesmo;<br>
            - Elevação da autoestima e da autoconfiança;<br>
            - Mais inteligência emocional – compreender e administrar as próprias emoções, automotivar-se, ter empatia e reagir de forma adequada às emoções dos outros;<br>
            - Modificação de hábitos improdutivos;<br>
            - Aprendizado contínuo.
        </p>
    </li>
{% endblock %}
