{% extends 'base_details.html' %}

{% block details_header_class %}
    header-atendimento-coaching
{% endblock %}

{% block details_frase %}
    Descubra o que falta para<br>você atingir seus objetivos.
{% endblock %}

{% block details_citacao %}
    "A vida não passa de um jogo em que todas as respostas existem;<br>
    você só precisa encontrar as perguntas certas para vencer."
{% endblock %}

{% block details_citacao_autor %}
    Anthony Robbins
{% endblock %}

{% block actions %}
    <a href="{% url 'solicitar_atendimento_coaching' %}" class="cta">Solicitar atendimento</a>
{% endblock %}

{% block details_titulo %}
    {{ ATENDIMENTO_COACHING.titulo }}
{% endblock %}


{#Sobre#}
{% block details_sobre %}
    Sobre o atendimento
{% endblock %}

{% block details_sobre_p %}
    <p>
        Coaching é um processo que visa elevar a performance do desenvolvimento humano, uma metodologia, um conjunto de competências, habilidades e técnicas cientificamente validadas que podem ser aprendidas e desenvolvidas por absolutamente qualquer pessoa pra alcançar um objetivo na vida pessoal ou profissional, até 20 vezes mais rápido, comprovadamente. Com ele, é possível entender como nós pensamos, sentimos, reagimos, aprendemos, mudamos e evoluímos. O processo de coaching leva o cliente a novos entendimentos, alternativas e opções capazes de fazer com que ele amplie suas realizações e conquistas.
    </p>
{% endblock %}


{#Objetivos#}
{% block details_objetivos_p %}
    <p>
        Ajudar a identificar problemas, obstáculos e bloqueios pessoais e profissionais;<br>
        Levar o cliente a sair de seu estado atual para um estado desejado em um curto espaço de tempo;<br>
        Propiciar autoconhecimento e autoconfiança, aumentando o equilíbrio e a harmonia interiores;<br>
        Auxiliar na gestão do estresse;<br>
        Provêr ferramentas para aprimorar a comunicação interpessoal;<br>
        Melhorar o foco, o planejamento e a administração do tempo.
    </p>
{% endblock %}


{#Duração#}
{% block details_duracao %}
    O processo de Coaching acontece em sessões (semanais, quinzenais ou mensais) com duração de cerca de 1 hora.
{% endblock %}


{#Para quem?#}
{% block details_para_quem %}
    Público em geral comprometidos com os seus resultados, ou seja, dispostos a mudanças, a expandir sua mente, reconhecer seus pontos de limitação, os pontos fortes e a direcionar sua energia, foco, empenho e dedicação em prol de seu sucesso. O método trabalha no presente com foco nos alvos futuros, no estado desejado que o indivíduo, pessoal ou profissionalmente, deseja alcançar.
{% endblock %}


{% block program_content %}
{% endblock %}

{% block benefits_class %}{% endblock %}

{% block benefits_li %}
    <li>
        <p>
            - Aumento da realização e da satisfação pessoal e profissional;<br>
            - Aumento do equilíbrio e da harmonia interior;<br>
            - Melhoria na qualidade de vida;<br>
            - Melhor gestão do tempo;<br>
            - Equilíbrio entre as áreas pessoal, profissional, social e familiar;<br>
            - Diminuição do stress e de preocupações desnecessárias;<br>
            - Aumento de disposição, energia e saúde;<br>
            - Relacionamentos mais saudáveis, produtivos e comunicação mais eficaz;<br>
            - Melhor entendimento e aceitação das outras pessoas;<br>
            - Elevação das habilidades necessárias para resolução de conflitos, dúvidas e problemas;<br>
            - Aumento da autopercepção e do conhecimento de si mesmo;<br>
            - Elevação da autoestima e da autoconfiança;<br>
            - Aumento da responsabilidade pessoal pela mudança e da autoliderança;<br>
            - Melhoria dos resultados financeiros;<br>
            - Relação mais próspera e produtiva com os recursos financeiros, no que diz respeito tanto à geração quanto à administração e multiplicação desses recursos;<br>
            - Elevação da capacidade de administrar o tempo de forma eficaz;<br>
            - Elevação do foco e da capacidade de estabelecer objetivos, bem como de identificar e implementar as ações estratégicas e necessárias para atingi-los;<br>
            - Habilidades de automonitoração e reajuste do próprio planejamento;<br>
            - Mais motivação, organização e autodisciplina para seguir seu planejamento;<br>
            - Alinhamento de missão, valores e crenças;<br>
            - Mais inteligência emocional – compreender e administrar as próprias emoções, automotivar-se, ter empatia e reagir de forma adequada às emoções dos outros;<br>
            - Mais inteligência social – “ler” o ambiente ao redor e cultivar interações bem-sucedidas com outras pessoas;<br>
            - Aumento dos níveis de realização e satisfação profissional;<br>
            - Melhoria no nível de satisfação com o trabalho;<br>
            - Aumento da criatividade;<br>
            - Aumento da flexibilidade e da adaptabilidade às mudanças;<br>
            - Melhor resolução de problemas e administração de conflitos;<br>
            - Modificação de hábitos improdutivos;<br>
            - Aprendizado contínuo;<br>
            - Melhoria nos relacionamentos e na comunicação;<br>
            - Melhoria no trabalho em equipe;<br>
            - Melhoria em habilidades interpessoais, comportamentos e crenças;<br>
            - Redução dos conflitos interiores e interpessoais.
        </p>
    </li>
{% endblock %}
