{% load i18n static %}<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <title>Communicare Treinamentos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

    <link href="{% static "stylesheet/normalize.css" %}" rel="stylesheet">
    <link href="{% static "stylesheet/flexslider.css" %}" rel="stylesheet">
    <link href="{% static "stylesheet/plugins/remodal.css" %}" rel="stylesheet">
    <link href="{% static "stylesheet/plugins/remodal-default-theme.css" %}" rel="stylesheet">
    <link href="{% static "public/stylesheet/main.css" %}" rel="stylesheet">

      {% block extra_css %}{% endblock extra_css %}

    <!-- SEO -->
    <meta name="description" content="Centro de Treinamentos em Excelência Humana.">
    <meta name="author" content="Communicare Treinamentos">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">

    <!-- Jetpack Open Graph Tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Communicare Treinamentos">
    <meta property="og:description" content="Centro de Treinamentos em Excelência Humana.">
    <meta property="og:url" content="http://communicaretreinamentos.com.br/">
    <meta property="og:site_name" content="Communicare Treinamentos">
    <meta property="og:image" content="">
    <meta property="og:locale" content="pt_BR">

    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "Communicare Treinamentos",
        "url" : "http://communicaretreinamentos.com.br/",
        "sameAs" : "https://www.facebook.com/CommunicareTreinamentos/", "https://www.instagram.com/explore/locations/279528915/"
      }
    </script>

  </head>

  <body remodal-bg>

    <header>
      <div class="holder">
        <h1 class="logo">
          <a href="{% url 'home' %}#inicio">
            <img src="{% static "images/logo.png" %}">
          </a>
        </h1>
        <nav>
          <ul>
            <li><a href="{% url 'home' %}#cards-1">Cursos e Treinamentos</a></li>
            <li style="display: none;"><a href="{% url 'home' %}#cards-2">Palestras</a></li>
{#            <li><a href="{% url 'home' %}#cards-3">Atendimentos</a></li>#}
            <li><a href="{% url 'home' %}#calendar">Agenda</a></li>
            <li><a href="{% url 'home' %}#testimonials">Depoimentos</a></li>
            <li><a href="{% url 'home' %}#about">Quem somos</a></li>
            <li><a href="{% url 'home' %}#contact">Contato</a></li>
          </ul>
        </nav>
        <a class="menu-trigger">Menu</a>
      </div>
    </header>

    {% block content %}
    {% endblock content %}

    <div class="whatsapp-widget">
      <div class="whatsapp-header">
        <i class="fab fa-whatsapp"></i>
        Saiba os valores via<br> <span>WhatsApp</span>
      </div>
      <form action="#">
        <input type="text" placeholder="Nome">
        <input type="tel" placeholder="Telefone" id="whats_tel">
        <input type="submit" value="Solicitar atendimento">
      </form>
    </div>

    <footer>
      <div class="holder">

        <div class="copy">
          &copy; <strong>2019 Communicare Treinamentos</strong> - Todos os direitos reservados.
          <ul class="ft-links">
            <li><a href="{% url 'privacy_policy' %}">Política de Privacidade</a></li>
            <li><a href="{% url 'cookies_statement' %}">Declaração de Cookies</a></li>
          </ul>
        </div>

        <ul class="ft-social">
          <li>
            <a target="_blank" href="https://www.instagram.com/communicaretreinamentos/" title="Ir para o Instagram da Communicare Treinamentos">
              <div><i class="fab fa-instagram"></i></div>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/CommunicareTreinamentos/" title="Ir para o Facebook da Communicare Treinamentos">
              <div><i class="fab fa-facebook"></i></div>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/communicarebr" title="Ir para o Twitter da Communicare Treinamentos">
              <div><i class="fab fa-twitter"></i></div>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.linkedin.com/company/communicaretreinamentos/" title="Ir para o Linkedin da Communicare Treinamentos">
              <div><i class="fab fa-linkedin"></i></div>
            </a>
          </li>
        </ul>

        <img src="{% static "images/apple-touch-icon.png" %}">

      </div>
    </footer>

    <script src="{% static "js/jquery/jquery.js" %}"></script>
    <script src="{% static "js/flexslider-min.js" %}"></script>
    <script src="{% static "js/simple-mask.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    <script src="https://unpkg.com/scrollreveal"></script>

  {% block extra_js %}{% endblock %}

  </body>
</html>
