{% extends 'base.html' %}

{% block content %}
    <section class="content">
      <div class="holder">

        <h2>Declaração de Cookie</h2>

        <p>Este website utiliza cookies. Utilizamos cookies para personalizar conteúdo e anúncios, fornecer funcionalidades de redes sociais e analisar o nosso tráfego. Também partilhamos informações acerca da sua utilização do site com os nossos parceiros de redes sociais, de publicidade e de análise, que as podem combinar com outras informações que lhes forneceu ou recolhidas por estes a partir da sua utilização dos respetivos serviços. Concorda com os nossos cookies se continuar a utilizar o nosso website.</p>

        <p>Os cookies são pequenos ficheiros de texto que podem ser utilizados por websites para tornar a experiência do utilizador mais eficiente.</p>

        <p>A lei diz que podemos armazenar cookies no seu dispositivo se forem estritamente necessários para o funcionamento deste site. Para todos os outros tipos de cookies precisamos da sua permissão.</p>

        <p>Este site utiliza diferentes tipos de cookies. Alguns cookies são colocados por serviços independentes que aparecem nas nossas páginas.</p>

        <p>Pode a qualquer momento alterar ou retirar o seu consentimento da Declaração de Cookies no nosso website.</p>

        <p>Saiba mais sobre quem somos, como pode contactar-nos e como processamos os dados pessoais na nossa <a href="privacy.html">Política de Privacidade</a>.</p>

      </div>
    </section> <!-- /content -->
{% endblock content %}