{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="courses" id="sessao-curso-hipnose">
        <section class="content header">
            <div class="holder">
                <h2 class="title">
                    SEJA UM HIPNOTERAPEUTA RECONHECIDO, AUMENTE SEU FATURAMENTO COM UMA DAS PROFISSÕES QUE MAIS CRESCEM
                    NO
                    MUNDO E AJUDE PESSOAS A REESTABELECEREM SUA PAZ MENTAL E EMOCIONAL.
                </h2>

                <h2 class="sub-title">
                    {{ CURSO_HIPNOSE.titulo }}
                </h2>

                <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/e_9zFWE0vZE?controls=2&modestbranding=1&rel=0&showinfo=0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <h4>Neste vídeo o Hipnoterapeuta Vinicius Campos explica todo conteúdo!</h4>

                {% if event %}
                    {% if event.external_subscriptions %}
                        <a href="{{ event.external_subscriptions }}" target="_blank" class="cta">Quero ser um Hipnoterapeuta</a>
                    {% else %}
                        <a href="{% url 'event-detail' slug=event.slug %}" class="cta">Quero ser um Hipnoterapeuta</a>
                    {% endif %}
                {% elif waiting_list %}
                    <a href="{% url 'waiting-list-detail' slug=waiting_list.slug %}" class="cta">Quero ser um Hipnoterapeuta</a>
                {% endif %}
            </div>
        </section>

        <section class="cards details">
            <div class="holder">
                <ul class="cards-list">
                    <li>
                        <img src="{% static 'images/cursos/verifica.png' %}" alt="">
                        <h4 class="title">Metodologia Exclusiva</h4>
                        <span>Aprenda as melhores técnicas de Hipnose Clínica & PNL.</span>
                    </li>

                    <li>
                        <img src="{% static 'images/cursos/lider-do-time.png' %}" alt="">
                        <h4 class="title">Para Iniciantes ou Profissionais</h4>
                        <span>As condutas éticas obrigatórias e essenciais para Terapeutas.</span>
                    </li>

                    <li>
                        <img src="{% static 'images/cursos/foguete.png' %}" alt="">
                        <h4 class="title">Do Básico ao Avançado</h4>
                        <span>Formação completa até o nível experiente/profissional.</span>
                    </li>

                    <li>
                        <img src="{% static 'images/cursos/foca.png' %}" alt="">
                        <h4 class="title">Aprendizado Comprovado</h4>
                        <span>Teoria & Prática demonstrados passo a passo em detalhes.</span>
                    </li>

                    <li>
                        <img src="{% static 'images/cursos/vencedora.png' %}" alt="">
                        <h4 class="title">Certificado Reconhecido</h4>
                        <span>Curso totalmente certificado.</span>
                    </li>

                    <li>
                        <img src="{% static 'images/cursos/estrela-de-5-pontas.png' %}" alt="">
                        <h4 class="title">Destaque como Hipnoterapeuta</h4>
                        <span>Aprenda as melhores técnicas de Marketing para Terapeutas.</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/jquery.fitvids.js" %}"></script>
    <script>
        $(document).ready(function () {
            // Target your .container, .wrapper, .post, etc.
            $("#sessao-curso-hipnose").fitVids();
        });
    </script>
{% endblock %}
