{% extends 'base_details.html' %}

{% block details_header_class %}
    header-curso-hipnose
{% endblock %}

{% block details_frase %}
    Quer descobrir o poder <br>da sua mente?<br>
    SIM, Você Pode!
{% endblock %}

{% block details_citacao %}
    "O pensamento é o ensaio da ação".
{% endblock %}

{% block details_citacao_autor %}
    FREUD
{% endblock %}

{% block details_titulo %}
    {{ CURSO_HIPNOSE.titulo }}
{% endblock %}


{#Sobre#}
{% block details_sobre %}
    Sobre o curso
{% endblock %}

{% block details_sobre_p %}
    <p>A Hipnose é um estado de consciência que envolve atenção focada e consciência periférica reduzida, caracterizado por uma maior capacidade de resposta à sugestão. Desta forma o curso abordará em profundidade a fundamentação teórica e conceitual mostrando passo a passo na prática como aplicar a hipnose em qualquer situação, com rapidez e segurança garantindo consistência aos atendimentos e práticas.</p>
{% endblock %}


{#Objetivos#}
{% block details_objetivos_p %}
    <p>
        Alinhar o conhecimento dos participantes a uma linguagem comum que será adotada durante a capacitação da técnica ampliando os horizontes na perspectiva da utilização do estado hipnótico às questões psicológicas e psicossomáticas. Uma melhor compreensão das relações "cérebro-mente" suscetíveis de serem aplicadas no manejo de diferentes situações do comportamento humano.
    </p>
{% endblock %}


{#Duração#}
{% block details_duracao %}
    2 encontros de 5hrs.<br>
    Carga horária total de 10hrs.
{% endblock %}


{#Para quem?#}
{% block details_para_quem %}
    Público em geral que tenha interesse em conhecer e aperfeiçoar técnicas e práticas de hipnose. Pessoas de qualquer área de atuação e do conhecimento, com ou sem experiência.
{% endblock %}


{% block program_content_li %}
    <li>
        <p>
            - O que é hipnose;<br>
            - Freud e a hipnose;<br>
            - Sintomatologia do transe;<br>
            - Autoridade para hipnose;<br>
            - Profissionalismo e ética;<br>
            - Níveis de hipnose;<br>
            - O que a hipnose definitivamente não é;<br>
            - Entendendo as mentes consciente, subconsciente e inconsciente;<br>
            - Os estados mentais beta, alfa, teta e delta;<br>
            - Rapport individual e coletivo;<br>
            - O pre-talk perfeito;<br>
            - O loop hipnótico;<br>
            - Pseudo-hipnose: testes e aplicações;<br>
            - O preparo: Geração de expectativas e pré-hipnose;<br>
            - Os testes: Eliminando objeções conscientes e subconscientes;<br>
            - A seleção: Como escolher os sujeitos a serem hipnotizados;<br>
            - Relaxamento rápido e eficaz;<br>
            - Indução Rápidas E Instantâneas;<br>
            - A Tratar: Transtornos De Ansiedade;<br>
            - A Tratar: Fobias Em Geral;<br>
            - Indução de Dave Elman Evoluída;<br>
            - Atalhos da Indução de Dave Elman;<br>
            - Induções clássicas da hipnose;<br>
            - Dedos magnéticos;<br>
            - Olhos colados;<br>
            - Mãos coladas;<br>
            - Amnésia partindo da pseudo;<br>
            - Falso aperto de mão de Dave Elman;<br>
            - Falso aperto de mão de Richard Bandler;<br>
            - Quebra de Padrão;<br>
            - Indução Espiral;<br>
            - HandDrop indução;<br>
            - Indução das oito palavras;<br>
            - Mãos magnéticas;<br>
            - Armpull indução;<br>
            - Street hipnose;<br>
            - Instrução de segurança;<br>
            - Toque de Charcot;<br>
            - Aprofundamento do transe;<br>
            - Indução do barquinho;<br>
            - Signo de sinal;<br>
            - Auto hipnose;<br>
            - Presente hipnótico.
        </p>

    </li>
{% endblock %}

{% block benefits_li %}
    <li>
        <p>
            - Promover o equilíbrio entre os estados consciente e inconsciente do indivíduo;<br>
            - Melhorar as emoções como medo, raiva, ciúme, entre outras;<br>
            - Ajudar no autoconhecimento, tornando-se conscientes dos seus problemas e da causa deles, fazendo com que seja possível o enfrentamento;<br>
            - Motivar a quebra de crenças limitantes;<br>
            - Desenvolver estados de alto rendimento;<br>
            - Melhorar a capacidade de autoconcentração.
        </p>
    </li>
{% endblock %}