{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    {{ customer_form.media.css }}
{% endblock %}

{% block content %}
    <section class="register">
        <div class="holder">

            {% if event.type == event_types.treinamento_oratoria.value %}
                <img src="{% static '/images/banner/treinamento_oratoria.jpg' %}">
            {% elif event.type == event_types.curso_hipnose.value %}
                <img src="{% static '/images/banner/curso_hipnose.jpg' %}">
            {% elif event.type == event_types.treinamento_inteligencia_emocional.value %}
                <img src="{% static '/images/banner/treinamento_inteligencia_emocional.jpg' %}">
            {% endif %}

            <div class="register-header">

                {% include 'includes/register_header.html' with event=event %}

            </div> <!-- /register-header -->

            <div class="register-entry" id="results">
                <form method="POST" class="register-form" id="registration-form">{% csrf_token %}
                    <input type="text" hidden id="event_id" value="{{ event.pk }}">
                    <ul>
                        <li>{{ customer_form.non_field_errors }}</li>
                        <li>
                            {{ customer_form.name.errors }}
                            <label for="{{ customer_form.name.id_for_label }}">{{ customer_form.name.label }}<span>*</span></label>
                            <!--<input type="text" name="nome" id="nome">-->
                            {{ customer_form.name }}
                        </li>
                        <li class="column-01">
                            {{ customer_form.phone.errors }}
                            <label for="{{ customer_form.phone.id_for_label }}">{{ customer_form.phone.label }}<span>*</span></label>
                            {{ customer_form.phone }}
                        </li>
                        <li class="column-02">
                            {{ customer_form.email.errors }}
                            <label for="{{ customer_form.email.id_for_label }}">{{ customer_form.email.label }}</label>
                            {{ customer_form.email }}
                        </li>
                        <li class="column-01">
                            {{ customer_form.cpf.errors }}
                            <label for="{{ customer_form.cpf.id_for_label }}">{{ customer_form.cpf.label }}<span>*</span></label>
                            {{ customer_form.cpf }}
                        </li>
                        <li class="column-02">
                            {{ customer_form.rg.errors }}
                            <label for="{{ customer_form.rg.id_for_label }}">{{ customer_form.rg.label }}<span>*</span></label>
                            {{ customer_form.rg }}
                        </li>
                        <li>
                            {{ customer_form.address.errors }}
                            <label for="{{ customer_form.address.id_for_label }}">{{ customer_form.address.label }}<span>*</span> <small>({{ customer_form.address.help_text }})</small></label>
                            {{ customer_form.address }}
                        </li>
                        <li class="column-01">
                            {{ customer_form.city.errors }}
                            <label for="{{ customer_form.city.id_for_label }}">{{ customer_form.city.label }}<span>*</span></label>
                            {{ customer_form.city }}
                        </li>
                        <li class="column-02">
                            {{ customer_form.cep.errors }}
                            <label for="{{ customer_form.cep.id_for_label }}">{{ customer_form.cep.label }}<span>*</span></label>
                            {{ customer_form.cep }}
                        </li>
                        <li class="column-01">
                            {{ customer_form.profession.errors }}
                            <label for="{{ customer_form.profession.id_for_label }}">{{ customer_form.profession.label }}</label>
                            {{ customer_form.profession }}
                        </li>
                        <li class="column-02">
                            {{ customer_form.age.errors }}
                            <label for="{{ customer_form.age.id_for_label }}">{{ customer_form.age.label }}</label>
                            {{ customer_form.age }}
                        </li>
                        <li>
                            {{ customer_form.source.errors }}
                            <label for="{{ customer_form.source.id_for_label }}">{{ customer_form.source.label }}<span>*</span></label>
                            {{ customer_form.source }}
                        </li>
                        <li>
                            <div id="errors"></div>
                        </li>
                        <li>
                            <input type="submit" value="Enviar">
                        </li>
                    </ul>
                </form>

            </div> <!-- /register-entry -->

        </div>
    </section> <!-- /register -->
{% endblock content %}

{% block extra_js %}
    {{ customer_form.media.js }}

    <script type="application/javascript">
        // AJAX for posting
        function registration(form) {
            $body = $("body");
            $body.addClass("loading");
            $.ajax({
                url : "/registration/", // the endpoint
                type : "POST", // http method
                data : {
                    name : $('#id_name').val(),
                    phone : $('#id_phone').val(),
                    cpf : $('#id_cpf').val(),
                    rg : $('#id_rg').val(),
                    address : $('#id_address').val(),
                    cep : $('#id_cep').val(),
                    city : $('#id_city').val(),
                    email : $('#id_email').val(),
                    profession : $('#id_profession').val(),
                    age : $('#id_age').val(),
                    source : $('#id_source').val(),
                    event_id : $('#event_id').val(),
                }, // data sent with the post request

                // handle a successful response
                success : function(json) {
                    $('#results').html('<h3 class="algn-center">'+json.results+'</h3>');
                    $('#errors').html(json.errors);
                    $body.removeClass("loading");
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    $('#errors').html("Oops! Nós encontramos um erro: "+errmsg); // add the error to the dom
                    console.error(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    $body.removeClass("loading");
                }
            });
        };

        // Submit post on submit
        $('#registration-form').on('submit', function(event){
            event.preventDefault();
            registration();
        });
    </script>
{% endblock %}
