{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'stylesheet/lightbox.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    <section class="gallery">
      <div class="holder">

        <h2>Galeria de fotos</h2>

        <ul class="gallery-list">
          <li>
            <a href="{% static 'images/gallery/img06.jpeg' %}" data-lightbox="img06">
              <img src="{% static 'images/gallery/img06.jpeg' %}" alt="roadtrip">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img08.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img08.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img11.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img11.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img12.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img12.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img13.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img13.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img15.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img15.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img17.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img17.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img19.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img19.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img20.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img20.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img21.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img21.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img22.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img22.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img24.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img24.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img18.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img18.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img16.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img16.jpeg' %}" alt="">
            </a>
          </li>
          <li>
            <a href="{% static 'images/gallery/img23.jpeg' %}" data-lightbox="roadtrip">
              <img src="{% static 'images/gallery/img23.jpeg' %}" alt="">
            </a>
          </li>
        </ul>

      </div>
    </section>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}