{% extends 'base.html' %}
{% load humanize static %}

{% block content %}
  <section class="lecture-page">

    <div class="lecture-banner">
      <div class="holder">
        <h2>
          Palestra<br>
          <strong>Inteligência Emocional</strong>
        </h2>
        <a href="#" class="cta">Quero participar</a>
      </div>
    </div>

    <div class="lecture-video">
      <div class="holder">

        <h2>Objetivos da palestra</h2>

        <div class="columns">
          <div class="column-01">
            <ul>
              <li><i class="fas fa-check-circle"></i> <span>Elogiar os colaboradores a cada pequeno progresso e não fazer críticas (públicas);</span></li>
              <li><i class="fas fa-check-circle"></i> <span>Promover reuniões de equipe que estimulam o feedback aberto entre os particiantes;</span></li>
              <li><i class="fas fa-check-circle"></i> <span>Apresentar vídeos ou treinamentos motivacionais com frequência para alterar o estado emocional dos funcionários;</span></li>
              <li><i class="fas fa-check-circle"></i> <span>Estimular a comunicação voltada para o foco na solução e não no problema;</span></li>
              <li><i class="fas fa-check-circle"></i> <span>Divulgar amplamente na empresa o conceito da autoresponsabilidade, que diz que nós somos os únicos responsáveis pelos nossos resultados e, consequentementeos únicos que podem mudá-los.</span></li>
            </ul>
          </div>
          <div class="column-02">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1ACaMPjWNHQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div> <!-- /lecture-video -->

    <div class="quais-resultados">
      <div class="holder">

        <h3>
          Quais resultados devo esperar<br>
          <strong>desta palestra?</strong>
        </h3>

        <div class="columns">
          <div class="column-01">
            <i class="fas fa-user-friends big-icon"></i>
            <h4>Colaboradores</h4>
            <p>
              - Motivados e proativos;<br>
              - Sem reclamar e ficar colocando a culpa nos outros;<br>
              - Acreditando mais em si mesmos e buscando realizações maiores;<br>
              - Relacionando-se melhor com os outros colaboradores;<br>
              - Focado na solução e não no problema;<br>
              - Entendendo que cada um tem a vida e o salário que merece;<br>
              - Mais felizes e entusiasmados;<br>
              - Com uma mente saudável, positiva e criativa;<br>
              - Mais produtivos e entregando mais resultado.
            </p>
          </div>
          <div class="column-02">
            <i class="fas fa-building big-icon"></i>
            <h4>Empresas</h4>
            <p>
              - Melhora clima organizacional;<br>
              - Diminuição do absenteísmo;<br>
              - Mais produtividade;<br>
              - Diminuição do turnover;<br>
              - Menos reclamações;<br>
              - Mais resultados.
            </p>
          </div>
        </div>

      </div>
    </div> <!-- /quais-resultados -->

    <div class="features">
      <div class="holder">

        <div class="columns">
          <div class="column-02">
            <img src="{% static "images/palestras/img-01.jpg" %}">
          </div>
          <div class="column-01">
            <h4>Investimentos e requisitos para a palestra</h4>
            <p>
              - Palestra gratuita;<br>
              - Paralisação dos colaboradores por 1h30min;<br>
              - Café de boas vindas (opcional);<br>
              - Estrutura de caixas de som e projetor se a palestra for para uma grande quantidade de pessoas;<br>
              - Ao contratante da palestra fazer uma citação simples sobre o que achou da palestra e autorizar sua publicação nos canais de mídia da Communicare Treinamentos;<br>
              - A palestra precisa ter no mínimo 20 participantes.
            </p>
          </div>
        </div>

        <div class="columns feature-02">
          <div class="column-02">
            <img src="{% static "images/palestras/img-02.jpg" %}">
          </div>
          <div class="column-01">
            <h4>Mas afinal de contas o que é Inteligência Emocional?</h4>
            <p>
              - Foco;<br>
              - Resiliência;<br>
              - Determinação;<br>
              - Automotivação;<br>
              - Otimismo;<br>
              - Superação;<br>
              - Autocontrole;<br>
              - Persuasão;<br>
              - Habilidades de comunicação em público;<br>
              - Capacidade de dar e receber feedbacks.<br>
            </p>
          </div>
        </div>

      </div>
    </div> <!-- /quais-resultados -->

  </section> <!-- /palestra-page -->
{% endblock content %}
