{% extends 'base.html' %}
{% load humanize static %}

{% block content %}
  <section class="lecture-page">

    <div class="lecture-banner">
      <div class="holder">
        <h2>
            <strong><small>Palestra</small><br>
          {% block palestra_titulo %}{% endblock %}</strong>
        </h2>
        <a href="{% url 'solicitar_palestra_inteligencia_emocional' %}" class="cta">Solicite valores</a>
      </div>
    </div>

    <div class="lecture-video">
      <div class="holder">

{#        <h2>Objetivos da Palestra</h2>#}

        <div class="columns">
          <div class="column-01">
            <h2>Objetivos da Palestra</h2>
            <ul>
                {% block palestra_objetivos %}{% endblock %}
            </ul>
          </div>
          <div class="column-02">
            <iframe width="560" height="315" src="{% block palestra_video %}{% endblock %}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div> <!-- /lecture-video -->

    <div class="quais-resultados">
      <div class="holder">

        <h3>
          Quais resultados devo esperar<br>
          <strong>desta palestra?</strong>
        </h3>

        <div class="columns">
          <div class="column-01">
            <i class="fas fa-user-friends big-icon"></i>
            <h4>Colaboradores</h4>
            <p>
                {% block palestra_resultados_colaboradores %}{% endblock %}
            </p>
          </div>
          <div class="column-02">
            <i class="fas fa-building big-icon"></i>
            <h4>Empresas</h4>
            <p>
                {% block palestra_resultados_empresa %}{% endblock %}
            </p>
          </div>
        </div>

      </div>
    </div> <!-- /quais-resultados -->

    <div class="features">
      <div class="holder">

        <div class="columns">
          <div class="column-02">
            <img src="{% static "images/palestras/img-01.jpg" %}">
          </div>
          <div class="column-01">
              <h4>Investimentos e Requisitos para a Palestra</h4>
            <p>
              - Paralisação dos colaboradores por 2hrs;<br>
              - Café de boas vindas (opcional);<br>
              - Estrutura de caixas de som e projetor se a palestra for para uma grande quantidade de pessoas;<br>
              - Ao contratante da palestra fazer uma citação simples sobre o que achou da palestra e autorizar sua publicação nos canais de mídia da Communicare Treinamentos;<br>
              - A palestra precisa ter no mínimo 20 participantes.
            </p>
          </div>
        </div>

        <div class="columns feature-02">
          <div class="column-02">
            <img src="{% static "images/palestras/img-02.jpg" %}">
          </div>
          <div class="column-01">
            <h4>Mas afinal de contas o que é Inteligência Emocional?</h4>
            <p>
              - Foco;<br>
              - Resiliência;<br>
              - Determinação;<br>
              - Automotivação;<br>
              - Otimismo;<br>
              - Superação;<br>
              - Autocontrole;<br>
              - Persuasão;<br>
              - Habilidades de comunicação em público;<br>
              - Capacidade de dar e receber feedbacks.<br>
            </p>
          </div>
        </div>

      </div>
    </div> <!-- /quais-resultados -->

  </section> <!-- /palestra-page -->
{% endblock content %}
