{% extends 'base_details.html' %}

{% block benefits_li %}
    <li>
        <p>
            - Tomar melhores decisões;<br>
            - Obter o aumento da sua concentração;<br>
            - Libertar a sua imaginação e criatividade;<br>
            - A se sentir mais relaxado e mais em paz consigo mesmo;<br>
            - A se livrar do stress. Fazendo com que você se sinta saudável mentalmente e fisicamente;<br>
            - A aumentar a sua autoconfiança;<br>
            - A dormir melhor e ter mais energia quando você precisar dela;<br>
            - A encontrar a estabilidade que vai te permitir viver verdadeiramente a sua vida, ao invés de apenas passar por ela;<br>
            - Aumento da realização e da satisfação pessoal e profissional;<br>
            - Aumento do equilíbrio e da harmonia interior;<br>
            - Melhoria na qualidade de vida;<br>
            - Melhor gestão do tempo;<br>
            - Equilíbrio entre as áreas pessoal, profissional, social e familiar;<br>
            - Aumento de disposição, energia e saúde;<br>
            - Elevação das habilidades necessárias para resolução de conflitos, dúvidas e problemas;<br>
            - Aumento da autopercepção e do conhecimento de si mesmo;<br>
            - Elevação da autoestima e da autoconfiança;<br>
            - Mais inteligência emocional – compreender e administrar as próprias emoções, automotivar-se, ter empatia e reagir de forma adequada às emoções dos outros;<br>
            - Modificação de hábitos improdutivos;<br>
            - Aprendizado contínuo.
        </p>
    </li>
{% endblock %}
