{% extends 'base_details.html' %}

{% block details_header_class %}
    header-treinamento-inteligencia-emocional
{% endblock %}

{% block details_frase %}
    O que de fato é necessário <br>para alcançar a felicidade?
{% endblock %}

{% block details_citacao %}
    "Você nunca sabe que resultados virão da sua ação.<br>
    Mas se você não fizer nada, não existirão resultados."
{% endblock %}

{% block details_citacao_autor %}
    Mahatma Gandhi
{% endblock %}

{% block details_titulo %}
    {{ TREINAMENTO_INTELIGENCIA_EMOCIONAL.titulo }}
{% endblock %}


{#Sobre#}
{% block details_sobre %}
    Sobre o treinamento
{% endblock %}

{% block details_sobre_p %}
    <p>Sabemos que o controle dos estados emocionais permitem atingir objetivos e metas importantes na vida e atualmente pode ser considerado como um dos principais fatores para o sucesso pessoal e profissional. Desta forma, o curso capacitará você a compreender melhor seus sentimentos e gerenciar melhor suas emoções.</p>
{% endblock %}


{#Objetivos#}
{% block details_objetivos_p %}
    <p>
        O Curso de Inteligência Emocional tem como objetivo apresentar ferramentas que auxiliam na gestão do equilíbrio emocional através de dinâmicas e um processo de aprendizagem vivencial.
    </p>
{% endblock %}


{#Duração#}
{% block details_duracao %}
    2 encontros de 4hrs.<br>
    Carga horária total de 8hrs.
{% endblock %}


{#Para quem?#}
{% block details_para_quem %}
    Público em geral que tenha interesse em seu autoconhecimento. Pessoas de qualquer área de atuação e do conhecimento, com ou sem experiência.
{% endblock %}


{% block program_content_li %}
    <li>
        <p>
            - O que é Inteligência Emocional;<br>
            - Entendendo as mentes consciente, subconsciente e inconsciente;<br>
            - Emoções e sentimentos;<br>
            - Avaliar o seu estilo emocional;<br>
            - Desafio da mudança;<br>
            - Influência dos estados emocionais;<br>
            - Valores versus ações;<br>
            - Eliminando crenças limitantes;<br>
            - Construindo foco e propósito;<br>
            - Blindando as emoções;<br>
            - Tomar decisões consistentes e assertivas;<br>
            - Aperfeiçoar habilidades de persuasão e comunicação.
        </p>
    </li>
{% endblock %}

{% block benefits_li %}
    <li>
        <p>
            - Busca contínua de autosuperação;<br>
            - Aumento do entusiasmo e disposição;<br>
            - Melhoria da comunicação interpessoal;<br>
            - Empatia;<br>
            - Capacidade de desenvolver relacionamentos harmoniosos;<br>
            - Maior percepção do mundo;<br>
            - Equilíbrio entre as principais áreas da vida;<br>
            - Melhor percepção das pessoas;<br>
            - Melhorar decisões, ações e comportamentos;<br>
            - Relacionamentos positivos;<br>
            - Desenvolver visão de futuro.
        </p>
    </li>
{% endblock %}
