/**
VARS AND MIXINS
===========================
*/
/* COLORS */
/* Font sizes */
/* Font-family vars */
/* Breakpoints */
/* Mixins */
header:after, .default-form ul:after,
.register-form ul:after, .content:after, footer:after, .cards:after, .calendar:after, .testimonials:after, .about:after, .register:after, .register-header:after, .register-header-ft:after, .details-page:after, .lecture-page:after, .lecture-banner:after, .lecture-video:after, .quais-resultados:after, .features:after, .contact:after, .gallery:after, .columns:after {
  content: "";
  display: table;
  clear: both; }

/**
HEADER
===========================
*/
header {
  border-top: 5px solid #bc2b33;
  width: 100%;
  height: 75px;
  background: #333;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100; }
  @media only screen and (max-width: 1079px) {
    header {
      height: auto;
      position: inherit;
      left: none;
      top: none; } }
  header nav {
    display: block;
    float: right; }
    @media only screen and (max-width: 1079px) {
      header nav {
        width: 100%;
        display: none; } }
  header ul {
    padding: 0;
    margin: 23px 0 0 0; }
    @media only screen and (max-width: 1079px) {
      header ul {
        margin: 0 0 10px 0; } }
  header li {
    font-size: 14px;
    display: inline-block;
    margin-left: 25px;
    position: relative; }
    @media only screen and (max-width: 1079px) {
      header li {
        display: block;
        margin: 0 0 2px 0; } }
    @media only screen and (min-width: 1165px) {
      header li {
        font-size: 16px; } }
    header li a, header li span {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      font-weight: bold;
      position: relative; }
      header li a:hover, header li span:hover {
        color: white; }
      @media only screen and (max-width: 1079px) {
        header li a, header li span {
          text-align: left;
          padding: 0 10px;
          height: 32px;
          line-height: 32px;
          background: rgba(255, 255, 255, 0.1);
          display: block;
          color: white; }
          header li a:hover, header li span:hover {
            color: #fff; } }
  header li:first-child {
    margin-left: 0; }

.logo {
  margin-top: 20px;
  float: left; }
  @media only screen and (max-width: 1079px) {
    .logo {
      margin-top: 10px;
      margin-bottom: 10px; } }
  .logo > a img {
    width: 170px;
    float: left; }
    @media only screen and (max-width: 1079px) {
      .logo > a img {
        width: 150px; } }

.menu-trigger {
  display: none;
  /* Disable mobile menu trigger */ }

.dropdown {
  border-radius: 4px;
  width: 200px;
  background: #fff;
  position: absolute;
  padding: 10px 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  top: 24px;
  left: -20px;
  display: none;
  text-align: left; }
  @media only screen and (max-width: 1079px) {
    .dropdown {
      width: 100%;
      border-radius: 0;
      background: #f8f8f8;
      top: 0;
      left: none;
      position: inherit;
      display: block;
      box-shadow: none;
      box-sizing: border-box;
      margin-left: 20px; } }
  .dropdown a {
    font-size: 14px;
    color: #3f77c3;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 7px;
    padding-bottom: 7px;
    display: inline-block;
    font-weight: bold;
    color: #bc2b33; }
    @media only screen and (max-width: 1079px) {
      .dropdown a {
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0; } }
    .dropdown a:hover {
      color: #bc2b33;
      opacity: .5; }
  .dropdown div:first-child a {
    border-top: 0; }

/**
FORMS
===========================
*/
.default-form,
.register-form {
  padding: 0;
  margin: 0; }
  .default-form ul,
  .register-form ul {
    padding: 0;
    margin: 0; }
  .default-form li,
  .register-form li {
    list-style-type: none;
    margin: 0 0 20px 0; }

.default-form label {
  color: #fff; }
.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="tel"],
.default-form input[type="number"],
.default-form textarea {
  border: none;
  background: white;
  color: rgba(0, 0, 0, 0.9); }

.register-form {
  padding-bottom: 30px; }
  .register-form label {
    color: rgba(0, 0, 0, 0.9); }
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="tel"],
  .register-form input[type="number"],
  .register-form textarea,
  .register-form select {
    border: 1px solid #ccc;
    background: #f8f8f8;
    color: rgba(0, 0, 0, 0.9); }
  .register-form input[type="submit"] {
    margin-top: 25px; }

label {
  display: block;
  font-weight: bold;
  margin: 0 0 10px 0;
  font-size: 14px; }
  label span {
    color: #bc2b33; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
  width: 100%;
  border-radius: 4px;
  padding: 0 15px;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
  padding: 0 15px;
  height: 50px;
  line-height: 50px; }

textarea {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  line-height: 22px; }

input[type="submit"] {
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  background: #bc2b33;
  padding: 0 30px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none; }
  input[type="submit"]:hover {
    opacity: .8; }

/* Select 2 */
.select2-selection {
  height: 50px !important;
  line-height: 50px !important; }

.select2-selection__rendered {
  margin-top: 10px; }

.select2-selection__arrow {
  top: 12px !important; }

/**
CONTENT
===========================
*/
.content {
  padding: 70px 0;
  margin-top: 80px; }
  @media only screen and (max-width: 800px) {
    .content {
      margin-top: 0; } }
  .content .holder {
    width: 900px; }
    @media only screen and (max-width: 950px) {
      .content .holder {
        width: 94%; } }
  .content h3 {
    font-size: 22px;
    margin: 30px 0 -5px 0;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.6); }
    @media only screen and (max-width: 800px) {
      .content h3 br {
        display: none; } }
  .content h4 {
    margin: 30px 0 -5px 0;
    font-size: 18px; }
  .content h5 {
    margin: 20px 0 0 0;
    font-size: 16px; }
  .content p {
    margin: 20px 0 0 0;
    line-height: 28px;
    font-size: 16px; }

/* Features list */
.simple-list {
  padding: 0;
  margin: 20px 0 0 40px; }
  .simple-list li {
    line-height: 30px;
    font-size: 16px; }

/**
FOOTER
===========================
*/
footer {
  border-top: 5px solid #bc2b33;
  width: 100%;
  font-size: 14px;
  padding: 40px 0;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    footer {
      padding-bottom: 100px; } }
  footer .ft-social {
    padding: 0;
    margin: 30px 0 0 0; }
    footer .ft-social li {
      display: inline-block;
      list-style-type: none;
      margin: 0 10px; }
    footer .ft-social a {
      color: rgba(0, 0, 0, 0.5);
      font-size: 22px; }
      footer .ft-social a:hover {
        color: #bc2b33; }
  footer img {
    width: 70px;
    margin-top: 40px; }

.copy .ft-links {
  padding: 0;
  margin: 10px 0 0 0; }
  .copy .ft-links li {
    display: inline-block;
    list-style-type: none;
    font-size: 12px;
    margin-right: 12px; }
  .copy .ft-links a {
    font-weight: bold;
    color: #bc2b33; }
    .copy .ft-links a:hover {
      color: #bc2b33; }

/**
COMPONENTS
===========================
*/
/* Border */
.with-border {
  border-top: 1px solid #eee;
  margin-top: 35px; }

/* Description */
.description {
  margin-top: -35px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 800px) {
    .description {
      width: 100%; } }

/* CTA */
.cta {
  box-shadow: 0 0 6px 0 #666;
  border-radius: 4px;
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  background: #bc2b33;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  margin-top: 55px; }
  @media only screen and (max-width: 800px) {
    .cta {
      margin-top: 40px; } }
  .cta:hover {
    opacity: .8; }

/* Basic links */
.view-more,
.view-all,
.view-more-cta {
  display: inline-block;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; }
  .view-more:hover,
  .view-all:hover,
  .view-more-cta:hover {
    opacity: .7; }

.view-more {
  color: #bc2b33;
  margin-right: 7px; }

.view-more,
.view-more-cta {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  border: 1px solid #bc2b33;
  padding: 0 12px;
  margin-top: 12px; }

.view-all,
.view-more-cta {
  background: #bc2b33;
  border: 1px solid #bc2b33;
  color: #fff !important; }

.view-all {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 20px; }

/* Styled-link */
.styled-link {
  background: #bc2b33;
  color: #fff;
  padding: 3px 7px 5px 7px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px; }
  .styled-link:hover {
    opacity: .7; }

/* Big button */
.big-button {
  box-shadow: 0 0 6px 0 #666;
  border-radius: 4px;
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  background: #bc2b33;
  line-height: 22px;
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  text-align: center;
  margin-top: 20px; }
  .big-button strong {
    font-size: 18px; }
  .big-button span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9); }
  .big-button:hover {
    opacity: .8; }

/**
REMODAL ADJUSTS
===========================
*/
.remodal {
  width: 500px;
  background: #fff;
  padding: 0 0 40px 0;
  box-sizing: border-box;
  border: 1px solid white; }
  @media only screen and (max-width: 800px) {
    .remodal {
      width: 100%; } }
  .remodal > img {
    width: 100%; }
  .remodal h2 {
    margin: 0;
    font-size: 22px;
    padding: 30px 20px 0 20px; }
  .remodal form {
    margin-top: 25px; }
    .remodal form ul {
      padding: 0;
      margin: 0; }
    .remodal form li {
      list-style-type: none;
      margin-top: 10px; }
    .remodal form input[type="text"] {
      border-radius: 2px;
      width: 300px;
      border: none;
      background: #eeeeee;
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      outline: none;
      color: #333; }
  .remodal input[type="submit"] {
    margin-top: 20px; }

.policy {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  margin-top: 20px;
  padding-top: 15px; }
  .policy a {
    color: rgba(255, 255, 255, 0.8); }
    .policy a:hover {
      text-decoration: underline;
      color: white; }

/**
MAIN BANNER
===========================
*/
.main-banner {
  margin-top: 80px;
  background: #00bdb4; }
  .main-banner img {
    width: 100%; }
  @media only screen and (max-width: 1079px) {
    .main-banner {
      margin-top: 0; } }
  .main-banner .flex-control-nav {
    bottom: 4%;
    z-index: 50; }

.flexslider {
  border: none !important;
  margin-bottom: 0; }

/**
CARDS
===========================
*/
.cards {
  padding: 70px 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .cards .view-all {
    margin-top: 50px; }

ul.cards-list {
  padding: 0;
  margin: 0 0 -50px 0;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    ul.cards-list {
      margin-top: -40px;
      margin-bottom: 0; } }
  ul.cards-list li {
    vertical-align: top;
    list-style-type: none;
    display: inline-block;
    width: 30%;
    margin: 0 1.5% 50px 1.5%;
    text-align: left;
    position: relative; }
    @media only screen and (max-width: 950px) {
      ul.cards-list li {
        width: 45%;
        margin: 0 2% 50px 2%; } }
    @media only screen and (max-width: 800px) {
      ul.cards-list li {
        width: 100%;
        margin: 40px 0 0 0; } }
    ul.cards-list li a {
      text-decoration: none;
      color: #bc2b33; }
      ul.cards-list li a:hover {
        opacity: .7; }
      ul.cards-list li a > span {
        height: 20px;
        line-height: 20px;
        padding: 0 6px;
        background: #bc2b33;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0; }
    ul.cards-list li img {
      width: 100%;
      border-radius: 4px;
      padding: 7px;
      box-sizing: border-box;
      background: #f8f8f8;
      border: 1px solid #eee; }
    ul.cards-list li h3 {
      font-size: 16px;
      margin: 7px 0;
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-weight: bold; }
      ul.cards-list li h3 a {
        color: #3f77c3;
        text-decoration: none; }
    ul.cards-list li p {
      font-size: 14px !important;
      margin: 0;
      line-height: 22px; }

/**
CALENDAR
===========================
*/
.calendar {
  padding: 70px 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #f8f8f8; }
  .calendar ul {
    width: 760px;
    background: url("../../images/calendar-bg.jpg") center center repeat-y;
    padding: 30px 0;
    margin: 0 auto; }
    @media only screen and (max-width: 800px) {
      .calendar ul {
        background: none;
        width: 94%;
        padding: 0;
        margin-bottom: -50px; } }
  .calendar li {
    list-style-type: none;
    text-align: left;
    margin: 50px 0; }
  .calendar img {
    padding: 7px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 50%;
    box-sizing: border-box;
    width: 170px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px; }
    @media only screen and (max-width: 800px) {
      .calendar img {
        width: 90px;
        float: left;
        margin: 0; } }
  .calendar .calendar-left-entry {
    width: 265px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    box-sizing: border-box;
    padding-top: 85px;
    float: left; }
    @media only screen and (max-width: 800px) {
      .calendar .calendar-left-entry {
        width: auto;
        text-align: left;
        padding-top: 0;
        float: none;
        display: block;
        margin-left: 110px; } }
    .calendar .calendar-left-entry .view-more-cta {
      margin: 0; }
      .calendar .calendar-left-entry .view-more-cta i {
        color: #fff;
        float: left;
        margin: 7px 5px 0 0; }
  .calendar .calendar-entry {
    width: 255px;
    display: inline-block;
    vertical-align: middle; }
    @media only screen and (max-width: 800px) {
      .calendar .calendar-entry {
        width: auto;
        display: block;
        margin-left: 110px; } }
  .calendar h3 {
    color: #bc2b33;
    margin: 0; }
    .calendar h3 span {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.6); }
  .calendar address {
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    margin-top: 15px; }
    .calendar address strong {
      display: block;
      margin-bottom: -20px; }
  .calendar a {
    color: #bc2b33;
    font-weight: bold;
    font-size: 12px; }
  .calendar i {
    color: #bc2b33;
    float: left;
    margin: 5px 6px 0 0; }
  .calendar p {
    font-size: 14px;
    line-height: 22px; }

/**
TESTIMONIALS
===========================
*/
.testimonials {
  padding: 70px 0 100px 0;
  text-align: center; }
  .testimonials .flex-active {
    background: #bc2b33 !important; }
  .testimonials ul {
    width: 60%;
    padding: 0;
    margin: 0;
    margin: auto;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .testimonials ul {
        width: 100%; } }
  .testimonials li {
    list-style-type: none; }
    .testimonials li img {
      width: 170px !important;
      border-radius: 50%;
      padding: 7px;
      background: #f8f8f8;
      border: 1px solid #eee;
      margin: auto; }
      @media only screen and (max-width: 800px) {
        .testimonials li img {
          width: 120px; } }
  .testimonials p {
    margin: 15px 0 0 0; }
    @media only screen and (max-width: 800px) {
      .testimonials p {
        font-size: 14px !important;
        line-height: 22px; } }
    .testimonials p strong {
      font-weight: bold;
      font-size: 18px;
      color: #bc2b33; }
  .testimonials .name {
    font-weight: bold;
    font-size: 18px; }

/**
ABOUT
===========================
*/
.about {
  border-top: 1px solid #eee;
  padding: 70px 0;
  background: #f8f8f8; }
  .about h2 {
    text-align: left; }
  .about .column-01 {
    width: 70%; }
    @media only screen and (max-width: 800px) {
      .about .column-01 {
        width: 100%; } }
  .about .column-02 {
    width: 25%; }
    @media only screen and (max-width: 800px) {
      .about .column-02 {
        width: 100%; } }

/* Coach */
.coach {
  border-radius: 4px;
  border: 1px solid #eee;
  background: #fff;
  padding: 20px 20px 35px 20px; }
  @media only screen and (max-width: 800px) {
    .coach {
      margin-bottom: 45px;
      text-align: center; } }
  .coach img {
    width: 170px;
    border-radius: 50%;
    padding: 7px;
    background: #f8f8f8;
    border: 1px solid #eee;
    margin-top: 15px;
    float: left; }
    @media only screen and (max-width: 800px) {
      .coach img {
        width: 120px;
        float: none; } }
  .coach .coach-entry {
    margin-left: 210px; }
    @media only screen and (max-width: 800px) {
      .coach .coach-entry {
        margin-left: 0;
        text-align: left; } }
  .coach p {
    margin: 15px 0 0 0;
    font-size: 14px !important;
    line-height: 22px; }
    .coach p strong {
      font-weight: bold;
      font-size: 18px;
      color: #bc2b33; }
    .coach p span {
      color: #bc2b33;
      margin-right: 7px;
      float: left;
      font-size: 22px; }
  .coach .name {
    font-weight: bold;
    font-size: 16px !important; }
    .coach .name span {
      font-weight: normal;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6); }
    .coach .name a {
      text-decoration: none;
      font-size: 12px;
      color: #3f77c3;
      display: inline-block;
      margin-top: 15px; }
      .coach .name a i {
        font-size: 22px;
        float: left;
        margin: -1px 7px 0 0; }

/* Motivations */
.motivations {
  padding: 0 0 30px 0;
  border-bottom: 2px solid #eee;
  margin: 0 0 35px 0; }
  .motivations li {
    vertical-align: top;
    list-style-type: none;
    display: inline-block;
    margin-top: 40px; }
  .motivations li:first-child {
    margin-top: 0; }
  .motivations h3,
  .motivations h4 {
    text-align: left;
    font-size: 18px;
    margin: 0 0 15px 0;
    line-height: 56px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold; }
    .motivations h3 i,
    .motivations h4 i {
      border-radius: 50%;
      color: #bc2b33;
      float: left;
      font-size: 30px;
      background: #bc2b33;
      color: #fff;
      width: 56px;
      height: 56px;
      line-height: 56px;
      margin-right: 15px;
      text-align: center; }
  .motivations p {
    text-align: left;
    font-size: 14px !important;
    line-height: 22px;
    margin: 0; }

/**
REGISTER
===========================
*/
.register {
  padding: 80px 0 70px 0;
  box-sizing: border-box;
  background: #f8f8f8;
  margin-top: 20px; }
  @media only screen and (max-width: 800px) {
    .register {
      padding-top: 0;
      margin-top: 0; } }
  .register .holder {
    width: 600px; }
    @media only screen and (max-width: 800px) {
      .register .holder {
        width: 100%; } }
    .register .holder > img {
      width: 100%;
      margin: 0 0 -5px 0; }

/* Register header */
.register-header {
  background: #fff;
  padding: 15px 20px;
  border-bottom: 2px solid #eee; }
  .register-header h2 {
    text-align: left;
    font-size: 18px;
    float: left;
    margin: 0; }
    @media only screen and (max-width: 800px) {
      .register-header h2 {
        float: none; } }
    .register-header h2 span {
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 0;
      color: rgba(0, 0, 0, 0.5); }
      .register-header h2 span strong {
        font-weight: bold;
        color: #bc2b33; }
  .register-header .price {
    text-align: right;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    float: right;
    color: #3f77c3;
    line-height: 22px; }
    @media only screen and (max-width: 800px) {
      .register-header .price {
        margin-top: 10px;
        text-align: left;
        float: left; } }
    .register-header .price span {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: normal; }

.register-header-ft {
  border-top: 1px solid #eee;
  padding-top: 13px;
  margin-top: 13px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  text-align: left; }
  .register-header-ft > div {
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
    float: left;
    display: inline-block; }
  .register-header-ft > span {
    font-weight: bold;
    float: right; }
  .register-header-ft i {
    margin-right: 1px; }
  .register-header-ft .fa-clock {
    margin-left: 20px; }

/* Register entry */
.register-entry {
  border: 1px solid #eee;
  background: #fff;
  padding: 20px;
  margin-top: 20px; }

/**
DETAILS PAGE
===========================
*/
.details-page {
  box-sizing: border-box; }
  .details-page .register-header {
    padding: 15px 0; }

/* Details header */
.banner-02 {
  background: url("../../images/banner-02-interna.jpg") no-repeat; }

.details-header {
  background-size: cover;
  background-position: top center;
  background-attachment: scroll;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  height: 650px;
  margin-top: 80px;
  opacity: 0.9; }
  @media only screen and (max-width: 1079px) {
    .details-header {
      height: auto;
      margin-top: 0;
      padding-bottom: 100px; } }
  .details-header h2 {
    text-shadow: 2px 2px 8px #222;
    margin-top: 60px;
    color: #fff;
    text-align: left;
    font-size: 50px; }
    @media only screen and (max-width: 800px) {
      .details-header h2 {
        font-size: 40px; }
        .details-header h2 br {
          display: none; } }
  .details-header blockquote {
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    font-style: italic; }
    @media only screen and (max-width: 800px) {
      .details-header blockquote br {
        display: none; } }
    .details-header blockquote span {
      font-weight: normal;
      font-style: normal;
      font-size: 16px; }

/* Details entry */
.details-entry {
  margin: 10px 0 20px 0; }
  .details-entry h2 {
    padding-bottom: 33px;
    border-bottom: 1px solid #eee;
    margin: 0; }
  .details-entry h3 {
    font-size: 22px;
    margin: 30px 0 -5px 0;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.6); }
    @media only screen and (max-width: 800px) {
      .details-entry h3 br {
        display: none; } }
  .details-entry h4 {
    margin: 30px 0 -5px 0;
    font-size: 18px;
    color: #bc2b33; }
  .details-entry h5 {
    margin: 20px 0 0 0;
    font-size: 16px; }
  .details-entry p {
    margin: 20px 0 0 0;
    line-height: 28px;
    font-size: 16px; }
  .details-entry .motivations {
    padding: 0;
    border-bottom: none; }
    .details-entry .motivations li {
      margin-top: 10px; }
  .details-entry .benefits h4 {
    color: rgba(0, 0, 0, 0.5); }
  .details-entry .benefits i {
    background: rgba(0, 0, 0, 0.5); }

/* Columns */
.cols-aside .column-01 {
  width: 70%; }
  @media only screen and (max-width: 800px) {
    .cols-aside .column-01 {
      width: 100%; } }
.cols-aside .column-02 {
  width: 25%; }
  .cols-aside .column-02 p {
    font-size: 14px !important;
    line-height: 22px; }
  @media only screen and (max-width: 800px) {
    .cols-aside .column-02 {
      width: 100%; } }

/**
LECTURE PAGE
===========================
*/
.lecture-page {
  box-sizing: border-box; }

/* Lecture banner */
.lecture-banner {
  background: url("../../images/palestras/ie-banner.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  margin-top: 80px;
  padding: 100px 0 250px 0; }
  @media only screen and (max-width: 1079px) {
    .lecture-banner {
      height: auto;
      margin-top: 0;
      padding-bottom: 100px; } }
  .lecture-banner h2 {
    width: 100%;
    text-shadow: 2px 2px 8px #222;
    float: left;
    font-size: 22px;
    text-align: left;
    color: rgba(255, 255, 255, 0.8); }
    .lecture-banner h2 strong {
      color: white;
      font-size: 50px; }
  .lecture-banner iframe {
    float: right; }
  .lecture-banner .cta {
    float: none; }

.lecture-video {
  padding: 70px 0;
  text-align: center; }
  .lecture-video .column-01,
  .lecture-video .column-02 {
    width: 48%; }
    @media only screen and (max-width: 800px) {
      .lecture-video .column-01,
      .lecture-video .column-02 {
        width: 100% !important; } }
  .lecture-video ul {
    padding: 0;
    margin: 0; }
  .lecture-video li {
    text-align: left;
    line-height: 28px;
    font-size: 16px;
    list-style-type: none;
    margin-top: 10px; }
    .lecture-video li i {
      margin-top: 6px;
      float: left;
      color: #bc2b33; }
    .lecture-video li span {
      margin-left: 20px;
      display: block;
      padding-left: 10px; }
  .lecture-video li:first-child {
    margin-top: 0; }
  .lecture-video iframe {
    width: 100%; }

.quais-resultados {
  border-top: 1px solid #eee;
  text-align: center;
  background: #f8f8f8;
  padding: 70px 0; }
  .quais-resultados h3 {
    margin: 0;
    font-size: 30px; }
    .quais-resultados h3 strong {
      font-size: 40px;
      color: #bc2b33; }
  .quais-resultados .columns {
    margin-top: 50px; }
  .quais-resultados .column-01,
  .quais-resultados .column-02 {
    border: 1px solid #eee;
    padding: 40px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    min-height: 480px; }
    .quais-resultados .column-01 .big-icon,
    .quais-resultados .column-02 .big-icon {
      font-size: 40px;
      color: #bc2b33; }
    .quais-resultados .column-01 h4,
    .quais-resultados .column-02 h4 {
      font-size: 22px;
      margin: 10px 0 30px 0;
      color: rgba(0, 0, 0, 0.6); }
    .quais-resultados .column-01 p,
    .quais-resultados .column-02 p {
      text-align: left; }

.features {
  border-top: 1px solid #eee;
  text-align: center;
  background: #fff;
  padding: 70px 0; }
  .features h3 {
    margin: 0;
    font-size: 30px; }
    .features h3 strong {
      font-size: 40px;
      color: #bc2b33; }
  .features .column-01,
  .features .column-02 {
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px; }
    .features .column-01 .big-icon,
    .features .column-02 .big-icon {
      font-size: 40px;
      color: #bc2b33; }
    .features .column-01 h4,
    .features .column-02 h4 {
      text-align: left;
      font-size: 22px;
      margin: 0 0 20px 0;
      color: rgba(0, 0, 0, 0.6); }
    .features .column-01 p,
    .features .column-02 p {
      text-align: left;
      margin: 0; }
  .features .column-02 {
    text-align: right; }
    @media only screen and (max-width: 950px) {
      .features .column-02 {
        text-align: center; } }
  .features .feature-02 {
    border-top: 1px solid #eee;
    margin-top: 60px;
    padding-top: 60px; }
  .features img {
    border-radius: 4px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #eee;
    padding: 7px; }
    @media only screen and (max-width: 950px) {
      .features img {
        width: 300px;
        margin-bottom: 60px; } }

/**
TESTIMONIALS
===========================
*/
.contact {
  background: rgba(0, 0, 0, 0.9) url("../../images/map-image.png") repeat-y;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0;
  min-height: 400px;
  color: #fff; }
  .contact h2 {
    color: #fff; }

.contact-people {
  text-align: center;
  padding-top: 30px; }
  @media only screen and (max-width: 800px) {
    .contact-people {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      margin-top: 45px;
      padding-top: 45px; } }
  .contact-people > img {
    width: 80px;
    border-radius: 50%;
    padding: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1); }
  .contact-people h5 {
    line-height: 22px;
    font-size: 16px;
    margin: 10px 0 30px 0; }
    .contact-people h5 span {
      font-size: 14px;
      font-weight: normal; }
  .contact-people p {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0 0 0; }
  .contact-people i {
    font-size: 22px; }

/**
GALLERY
===========================
*/
.gallery {
  padding: 140px 0 70px 0;
  text-align: center;
  box-sizing: border-box; }
  @media only screen and (max-width: 800px) {
    .gallery {
      padding-top: 60px; } }

.gallery-list {
  padding: 0;
  margin: 0 0 -50px 0; }
  .gallery-list li {
    vertical-align: top;
    width: 21%;
    list-style-type: none;
    display: inline-block;
    margin: 0 1% 50px 0; }
    @media only screen and (max-width: 800px) {
      .gallery-list li {
        width: 45%; } }
  .gallery-list img {
    box-sizing: border-box;
    width: 100%;
    padding: 7px;
    background: #f8f8f8;
    border: 1px solid #eee; }

.lb-close {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  margin-top: 5px; }

.last-videos {
  background: rgba(0, 0, 0, 0.9);
  color: #fff; }
  .last-videos h2 i {
    color: #bc2b33; }

.courses {
  text-align: center; }
  .courses .cta {
    font-size: 20px; }
  .courses .whatsapp {
    background: #25D366; }
  .courses h2 {
    text-transform: uppercase; }
    .courses h2.sub-title {
      color: #bc2b33;
      text-transform: uppercase; }
  .courses h4 {
    text-align: center; }
  .courses img {
    background: transparent !important;
    border: unset;
    padding: 0; }
  .courses .cards-list .p-left p {
    text-align: left !important; }
  .courses .cards-list li {
    width: 22%;
    margin: 0 1% 30px 1%;
    padding: 0.5%; }
    @media only screen and (max-width: 950px) {
      .courses .cards-list li {
        width: 45%;
        margin: 0 1.5% 50px 1.5%; } }
    @media only screen and (max-width: 800px) {
      .courses .cards-list li {
        width: 100%;
        margin: 40px 0 0 0;
        padding: 0; } }
    .courses .cards-list li.border {
      box-shadow: 0 0 6px 0 #fff; }
  .courses .header {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 70px 0; }
    .courses .header p {
      color: #f8f8f8; }
    .courses .header .holder {
      width: 900px; }
      @media only screen and (max-width: 950px) {
        .courses .header .holder {
          width: 94%; } }
    .courses .header .holder.depoimentos {
      width: 90%; }
  .courses .details {
    background: #ccc;
    margin-top: unset; }
    .courses .details ul.cards-list li {
      text-align: center; }
      .courses .details ul.cards-list li img {
        max-width: 61px; }
      .courses .details ul.cards-list li .title {
        text-decoration: underline; }
  .courses .para-quem {
    background: #f8f8f8; }
    .courses .para-quem .title {
      box-shadow: 0 0 6px 0 #fff;
      background: #bc2b33;
      color: #fff;
      padding: 1rem 0; }
      .courses .para-quem .title .mark {
        background: rgba(0, 0, 0, 0.9);
        padding: 0 0.5rem; }
    .courses .para-quem li {
      margin: 0 1% 30px 1%;
      padding: 0.5%;
      text-align: center; }
      .courses .para-quem li i {
        font-size: 35px;
        color: #698d64; }
  .courses .chamada {
    background: #999; }
    .courses .chamada .cta {
      margin: 25px 0;
      height: auto; }
  .courses .porque-eu-sei .holder {
    width: 925px; }
    @media only screen and (max-width: 950px) {
      .courses .porque-eu-sei .holder {
        width: 94%; } }
    .courses .porque-eu-sei .holder img {
      width: 370px;
      padding: 7px;
      float: right; }
      @media only screen and (max-width: 800px) {
        .courses .porque-eu-sei .holder img {
          max-width: 200px;
          float: none; } }
    .courses .porque-eu-sei .holder .descricao {
      margin-right: 400px;
      text-align: justify; }
      .courses .porque-eu-sei .holder .descricao p {
        line-height: normal; }
      @media only screen and (max-width: 800px) {
        .courses .porque-eu-sei .holder .descricao {
          margin-right: 0; } }
  .courses .beneficios {
    text-align: center; }
    .courses .beneficios .motivations {
      padding: 0;
      border-bottom: 0;
      margin: 0; }
    .courses .beneficios li {
      max-width: 630px;
      text-align: justify;
      margin: 0 160px;
      padding-bottom: 35px; }
      @media only screen and (max-width: 950px) {
        .courses .beneficios li {
          width: 94%;
          margin: 0;
          text-align: center; } }
      .courses .beneficios li i {
        width: 200px;
        float: left; }
        @media only screen and (max-width: 950px) {
          .courses .beneficios li i {
            width: 120px;
            float: none; } }
      .courses .beneficios li .beneficios-texto {
        margin-left: 200px; }
        @media only screen and (max-width: 950px) {
          .courses .beneficios li .beneficios-texto {
            margin-left: 0; } }
  .courses .bonus h3 {
    font-size: x-large; }
  .courses .duvidas {
    text-align: left; }

/**
WHATSAPP
===========================
*/
.whatsapp-widget {
  width: 200px;
  background: green;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f9fa+0,7db9e8+100&1+0,0+100 */
  background: -moz-linear-gradient(top, #233030 0%, #2c4e4c 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #233030 0%, #2c4e4c 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #233030 0%, #2c4e4c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233030', endColorstr='#2c4e4c',GradientType=0 );
  /* IE6-9 */
  position: fixed;
  padding: 5px 10px 0 10px;
  bottom: 0;
  right: 15px;
  z-index: 100; }
  @media only screen and (max-width: 800px) {
    .whatsapp-widget {
      width: 100%;
      box-sizing: border-box;
      right: 0; } }
  .whatsapp-widget .whatsapp-header {
    font-size: 12px;
    color: #fff;
    margin: 5px 0;
    cursor: pointer; }
    .whatsapp-widget .whatsapp-header span {
      font-size: 18px;
      font-weight: bold; }
    .whatsapp-widget .whatsapp-header i {
      font-size: 40px;
      margin: 1px 12px 0 10px;
      float: left; }
  .whatsapp-widget form {
    margin-top: 12px;
    display: none; }
  .whatsapp-widget input {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    font-size: 12px; }
  .whatsapp-widget input[type="text"],
  .whatsapp-widget input[type="tel"],
  .whatsapp-widget input[type="email"] {
    border: none;
    padding: 0 7px; }
  .whatsapp-widget input {
    margin-bottom: 10px; }
  .whatsapp-widget input[type="submit"] {
    width: 100%;
    margin-bottom: 10px; }

/**
RESPONSIVE
===========================
*/
/* Viewports */
html,
body {
  width: 100%;
  overflow-x: hidden; }

@viewport {
  zoom: 1.0;
  width: extend-to-zoom; }
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0; }
/* Smartphones */
@media only screen and (max-width: 1079px) {
  .menu-trigger {
    border-radius: 2px;
    background: #bc2b33;
    color: #fff;
    height: 30px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    right: 3%;
    top: 14px;
    z-index: 200;
    display: inline-block; }
    .menu-trigger:hover {
      opacity: .9;
      color: #fff;
      text-decoration: none;
      cursor: pointer; } }
/**
GENERAL
===========================
*/
a:hover,
header:hover {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

/* Generic */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background: #fff;
  margin: 0;
  color: rgba(0, 0, 0, 0.9); }

p,
li {
  color: rgba(0, 0, 0, 0.9); }

p {
  line-height: 30px;
  font-size: 16px; }

h2 {
  margin: 0 0 50px 0;
  font-size: 34px;
  letter-spacing: -1px;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    h2 {
      font-size: 26px; } }

/* Grid */
.holder {
  width: 90%;
  margin: auto; }
  @media only screen and (max-width: 800px) {
    .holder {
      width: 94%; } }

.column-01,
.column-02 {
  width: 48%; }
  @media only screen and (max-width: 800px) {
    .column-01,
    .column-02 {
      width: 100% !important; } }

.column-01 {
  float: left; }
  @media only screen and (max-width: 800px) {
    .column-01 {
      float: none; } }

.column-02 {
  float: right; }
  @media only screen and (max-width: 800px) {
    .column-02 {
      float: none; } }

/* Helper classes */
.algn-center {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
