Olá, <strong>{{ customer.name }}</strong>.<br>
Como vai? Desejo que bem!<br>
<br>
Prezando sempre pela excelência e clareza em todas as nossas ações, segue anexo contrato formal referente ao "<strong>{{ event.title }} - <i>{{ event.subtitle }}</i></strong>".<br>
Por gentileza leia atentamente todos os detalhes contidos no contrato e caso reste alguma dúvida estaremos a disposição para saná-las!<br>
<br>
Caso exista alguma correção a ser feita por favor nos avise respondendo este e-mail.<br>
<br>
Após a leitura do contrato e total entendimento por favor <strong>responda este e-mail informando que concorda com os termos do mesmo!</strong>