Olá, <strong>{{ waitlisted.name }}</strong>.<br>
<br>
Sua inscrição foi efetuada com sucesso em nossa lista de espera para o(a) "<strong>{{ waitlisted.waiting_list.get_type_display }}</strong>".<br>
Assim que abrirmos uma nova turma você será informado!<br>
<br>
<br>
Seus dados inseridos foram:<br>
<br>
Nome completo: <strong>{{ waitlisted.name }}</strong><br>
Telefone: <strong>{{ waitlisted.phone }}</strong><br>
Cidade: <strong>{{ waitlisted.city }}</strong><br>
<br>
Caso exista alguma correção a ser feita por favor nos avise respondendo este e-mail.
